#================================================================
# Deny access to filenames starting with dot(.); .htaccess, etc.
#----------------------------------------------------------------
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

#================================================================
# General use files that should never be accessible.
#----------------------------------------------------------------
<FilesMatch "\.(txt|mat|zip|sh|py|m)$">
Order allow,deny
Deny from all
</FilesMatch>

#================================================================
# Project/genome use files that should never be accessible.
#----------------------------------------------------------------
<FilesMatch "\.(xls|bt2|dict|fai|nhr|nin|nsd|nsi|nsq)$">
Order allow,deny
Deny from all
</FilesMatch>


#================================================================
# Prevent php execution in user directories?
#----------------------------------------------------------------
